<div
  class="container mt-3 rounded shadow"
  style="background-color: #f4f6f7; text-align: center"
>
  <br />
  <div
    class="row rounded shadow m-2 text-light"
    style="background-color: #17202a"
  >
    <h3 class="p-2">{{ titulo }}</h3>
  </div>
  <!--COMPONENTE HIJO-->
  <app-formulario></app-formulario>
  <!--COMPONENTE HIJO-->
  <hr />
  <div class="container m-2 rounded shadow" style="background-color: #fdfefe">
    <table class="table justify-content-center">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">APELLIDO</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
    </table>
    <app-persona
      class=""
      *ngFor="let personaElemento of personas; let i = index"
      [persona]="personaElemento"
      [indice]="i"
    >
    </app-persona>
  </div>
  <br />
</div>
